<!DOCTYPE html>
<html>
<body>
    <div class="buttonContainer">
        <div class="containerHeader" role="tablist">
            <div class="menuTabs" *ngFor="let tab of inputMenuBar; let first = first;" [ngClass]="{firstItem: first}" role="presentation" [class.active]="selectedwallet===wallet">
                <button *ngIf="tab == selectedTab" class="menuButtons selectedMenuButton" (click)="changeTab(tab)" aria-controls="materialInputContainer" role="tab" data-toggle="tab">{{tab}}</button>
                <button *ngIf="tab != selectedTab" class="menuButtons" (click)="selectedTab = tab" aria-controls="materialInputContainer" role="tab" data-toggle="tab">{{tab}}</button>
            </div>
        </div>
        <div class="containerHeader" role="tablist">
            <div class="menuTabs" *ngFor="let tab of outputMenuBar; let first = first;" [ngClass]="{firstItem: first}" role="presentation" [class.active]="selectedwallet===wallet">
                <button *ngIf="tab == selectedTab" class="menuButtons selectedMenuButton" (click)="changeTab(tab)" aria-controls="materialInputContainer" role="tab" data-toggle="tab">{{tab}}</button>
                <button *ngIf="tab != selectedTab" class="menuButtons" (click)="selectedTab = tab" aria-controls="materialInputContainer" role="tab" data-toggle="tab">{{tab}}</button>
            </div>
        </div>
        <div>
            <div class="add-container">
                <button type="button" class="btn btn-sq-xs btn-add" (click)="addDetail(selectedTab)">
                    <i class="fa fa-plus fa-1x"></i><br />
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="selectedTab === inputMenuBar[0]" role="tabpanel" class="tab-pane active" id="materialInputContainer">
                    <form [formGroup]="form1" (submit)="submit(form1)">
                            <div class="card-header">Process Details</div>
                                        <label>Name</label>
                                        <input class="form-control" formControlName="name" type="text">
                            <div class="card-header">Material Input</div>
                            <div class="card-body" formArrayName="inputs">
                                    <div class="col-6" *ngFor="let input of list1.controls; let i = index;">
                                        <div [formGroupName]="i" class="row">
                                                <label>Material Type</label>
                                                <input class="form-control" formControlName="type" type="text">
                                                <label>Quantity</label>
                                                <input class="form-control" formControlName="quantity" type="text">
                                                <label>Unit</label>
                                                <input class="form-control" formControlName="unit" type="text">
                                                <label>Activity Data Origin</label>
                                                <input class="form-control" formControlName="dataOrigin" type="text">
                                                <label>Remarks</label>
                                                <input class="form-control" formControlName="remarks" type="text">
                                                <button class="btn btn-danger" type="button" (click)="removeInput(list1, i)"> Remove </button>
                                        </div>
                                    </div>
                            </div>
                            <div class="card-body">
                                <div class="col-12">
                                    <button class="btn btn-primary m-1" type="button" (click)="addInput(this.list1)"> Add Input </button>
                                    <button class="btn btn-success m-1" [disabled]="!form1.valid" type="submit"> Save User Profile </button>
                                </div>
                            </div>
                    </form>
    </div>
    <div *ngIf="selectedTab === inputMenuBar[1]" role="tabpanel" class="tab-pane active" id="energyInputContainer">
        <div class="container p-3">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="form2" (submit)="submit(form2)">
                        <div class="card">
                            <div class="card-header">Process Details</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>Name</label>
                                        <input class="form-control" formControlName="name" type="text">
                                        <span class="text-danger" *ngIf="form2.controls['name'].touched && form2.controls['name'].hasError('required')">
                                            Name is required!
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header">Energy Input</div>
                            <div class="card-body" formArrayName="inputs">
                                <div class="row">
                                    <div class="col-6" *ngFor="let input of inputs2FormGroup.controls; let i = index;">
                                        <div [formGroupName]="i" class="row">
                                            <div class="form-group col-6">
                                                <label>Energy Type</label>
                                                <input class="form-control" formControlName="type" type="text">
                                            </div>
                                            <div class="form-group col-6">
                                                <label>Quantity</label>
                                                <input class="form-control" formControlName="quantity" type="text">
                                            </div>
                                            <div class="form-group col-6">
                                                <label>Unit</label>
                                                <input class="form-control" formControlName="unit" type="text">
                                            </div>
                                            <div class="form-group col-6">
                                                <label>Activity Data Origin</label>
                                                <input class="form-control" formControlName="dataOrigin" type="text">
                                            </div>
                                            <div class="form-group col-12">
                                                <label>Remarks</label>
                                                <input class="form-control" formControlName="remarks" type="text">
                                            </div>

                                            <div class="form-group col-12 text-right">
                                                <button class="btn btn-danger" type="button" (click)="removeInput(list2, i)"> Remove </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-12">
                                    <button class="btn btn-primary m-1" type="button" (click)="addInput(this.list2)"> Add Input </button>
                                    <button class="btn btn-success m-1" [disabled]="!form2.valid" type="submit"> Save User Profile </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>