@import url('https://fonts.googleapis.com/css?family=Raleway');

/*
    Header CSS
*/
p {
    display: block;
    background-color: #7c9bc9;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*
    Body
*/
body {
    background-color: #E4E2E9;
    width: 100%;
    height: 100%;
}


/*
    For button to indicate next step
*/
.button {
    display: block;
    position: static;
    background-image: linear-gradient(to right, #7c9bc9 0%, #99b8e8 51%, #b4cef7 100%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: inherit;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75em;
    margin-top: 0px;
    color: black;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    background-position: right center;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.disabled-button {
    display: block;
    position: static;
    background-image: linear-gradient(to left, #c8c4d2 0%, #ada7bc 51%, #928aa6 100%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: inherit;
    height: 60px;
    transition: all 0.5s;
    cursor: not-allowed;
}

.disabled-button span {
    display: inline-block;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75em;
    margin-top: 0px;
    color: black;
}

/*
    For button to go back to the previous
*/
.button-left {
    display: block;
    position: static;
    background-image: linear-gradient(to left, #7c9bc9 0%, #99b8e8 51%, #b4cef7 100%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: inherit;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
}

.button-left span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75em;
    margin-top: 0px;
    color: black;
}

.button-left span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}

.button-left:hover span {
    padding-left: 25px;
    background-position: right center;
}

.button-left:hover span:after {
    opacity: 1;
    left: 0;
}

/*
    For the title in the nav bar
*/
.navtitle p {
    display: block;
    background-color: #7c9bc9;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.75em;
    width: inherit;
    height: auto;
}
/*
    Grid container to store buttons(prev and next) and the title in the nav bar
*/
.nav {
    display: grid;
    grid-template-columns: 0% 20% auto 20%;
    grid-template-rows: auto;
    margin-top: 0;
}


/*
    Placeholder for system boundary description and Exclusion
*/
.placeholder-input {
    background-color: #f7f7f7;
    width: 100%;
    height: 20vh;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.placeholder-input:hover {
    transform:scale(1.05);
}
/*
    Placeholder for lifecycle stage
*/
.placeholder {
    background-color: #f7f7f7;
    width: 100%;
    height: 55vh;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.5s;
}

/*
    Inputs for project name, goals and scope CSS
*/
.bigInput {
    padding: 10px;
    width: 100%;
    height: 12vh;
    background-color: #f7f7f7;
    align-self: center;
    border: none;
    font-family: 'Raleway', sans-serif;
}

/*
    Life Cycle Stage
*/
.example-list {
    width: inherit;
    height:auto;
    max-height: 40vh;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    overflow: auto;
}

.example-box {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    text-align: center;
    height: 4.3em;
}

.stageName {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    height: 100%;
}

.stageName input {
    border: none;
    cursor: move;
    width: 100%;
    display: none
}

.cdk-drag-preview {
    width: 10%;
    height:5vh;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*
    Add Edit and Delete button
*/

.add-container {
    background-color: transparent;
    display: flex;
    padding: 10px 47.8%;
    max-height: 60px;
}

.stageButton {
    background-image: linear-gradient(to left, #7c9bc9 0%, #99b8e8 51%, #b4cef7 100%);
    border-radius: 10%;
    min-width: 60px;
    min-height: 40px;
    border: none;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    margin-bottom: 2vh;
    margin-right: 3vw;
    background-color: transparent;
}

.stageButton:hover {
    transform: scale(1.05);
}

.stageEditButtons {
    padding: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

.btn-add {
    color: #fff;
    background-color: #7cc8a9;
    border-color: #7cc883;
}

.btn-edit {
    color: #fff;
    background-color: #c8a97c;
    border-color: #c09d6a;
}

.btn-delete {
    color: #fff;
    background-color: #c87c9b;
    border-color: #c87cc1;
}

.btn-save {
    color: #fff;
    background-color: #7c9bc8;
    border-color: #7c9bc8;
}

.disabled-btn-save {
    color: black;
    background-color: #ada7bc;
    border-color: #ada7bc;
    cursor: not-allowed;
}

.btn:hover {
    transform: scale(1.05);
}

.deletecontainer {
    background-image: linear-gradient(to left, #7c9bc9 0%, #99b8e8 51%, #b4cef7 100%);
    border-radius: 10%;
    min-width: 60px;
    min-height: 40px;
    border: none;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    margin-bottom: 2vh;
    margin-right: 3vw;
    background-color: transparent;
    padding-top: 1vh;
    padding-left: 1vh;
}

.deletecontainer:hover {
    transform: scale(1.05);
}

.addInput {
    display: none;
    transition: 0.5s;
    height: 5vh;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/*
    buttons for the menu, save, save as and save and exit
*/
.save-button {
    opacity: 0;
    transition: opacity .35s ease;
    position: absolute;
    width: 100px;
    background-image: linear-gradient(to left, #7c9bc9 0%, #99b8e8 51%, #b4cef7 100%);
    border-radius: 5px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.disabled-save-button {
    opacity: 0;
    transition: opacity .35s ease;
    position: absolute;
    width: 100px;
    background-image: linear-gradient(to left, #928aa6 0%, #ada7bc 51%, #c8c4d2 100%);
    border-radius: 5px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    cursor: not-allowed;
}

.save-button:hover {
    transform: scale(1.05);
}

/*
    A container for animation purposes
*/
.expand {
    position: absolute;
    right: 40px;
    bottom: 60px;
    width: 100px;
    align-items: center;
    transition-delay: 0.35s;
}
    /*
    After hovering, the height of the container must increase to emcompass the shown buttons
*/
    .expand:hover {
        height: 150px;
    }

/*
By hovering over the container, we will make the relevant buttons visible
*/
.expand:hover .save {
    opacity: 1;
    bottom: 30px;
}

.expand:hover .saveas {
    opacity: 1;
    bottom: 80px;
}

.expand:hover .saveexit {
    opacity: 1;
    bottom: 130px;
}

.expand:hover .menuicon {
    opacity: 0;
}

.menuicon {
    /*border-radius: 50%;
    background-image: linear-gradient(to left, #7c9bc9 0%, #99b8e8 51%, #b4cef7 100%);
    border: none;*/
    width: 50px;
    height: 50px;
    margin-left: 25px;
}
/*
    CSS for the text to show after saving
*/
.showtime {
    color: black;
    font-style: italic;
    position: absolute;
    right: 40px;
    bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.stage {
    width: 100%;
    left: 10em
}