
    <form id="lifeStageDiv" [formGroup]="projectForm" (ngSubmit)="onSubmit()" (click)="deselectAll()">
        <hr />
        <p class="title">
            System Boundary
        </p>
        <p class="subtitle">
            System Boundary Description
        </p>
        <div class="textareaContainer">
            <input class="bigInput" type="text" formControlName="systemDescription" (change)="updateProject()" required>
        </div>
        <p class="subtitle">
            Exclusion
        </p>
        <div class="textareaContainer">
            <input class="bigInput" type="text" formControlName="systemExclusion" (change)="updateProject()" required>
        </div>
        <hr />
        <div >

            <p class="title">
                Life Cycle Stage Definition
            </p>
            <div cdkDropList class="example-list" (cdkDropListDropped)="dropped($event)">
                <!--#zone1 [connectedTo]="zone2"-->
                <div id="{{'lifeStageContainer' + i}}" #item
                        class="example-box" *ngFor="let lifeStage of this.currentProject.lifeCycleStages; let i = index"
                        cdkDrag [attr.data-index]="i" (cdkDragStarted)="started($event)">
                    <div class="container stage-container">
                        <div class="row">
                            <div class="stageName col-md-10" cdkDragHandle (click)="onStageClick(i)" (contextmenu)="deleteItem(i)">
                                <input id="{{'lifeStage' + i}}" style="display:none" type="text" value="{{lifeStage}}"
                                        (blur)="doneEditing(i)" placeholder="Enter new stage name here" />
                                <div id="{{'lifeStageValue' + i}}">{{lifeStage}}</div>
                            </div>
                            <div class="col-md-2 stageEditButtons">
                                <div class="buttonsContainer">
                                    <button type="button" class="btn btn-sq-xs btn-edit" (click)="editItem(i)">
                                        <i class="fa fa-edit fa-1x"></i><br />
                                    </button>
                                    <button type="button" class="btn btn-sq-xs btn-delete" (click)="deleteItem(i)">
                                        <i class="fa fa-trash fa-1x"></i><br />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="add-container">
                <button type="button" class="btn btn-sq-xs btn-add" (click)="showInputField($event)">
                    <i class="fa fa-plus fa-1x"></i><br />
                </button>
            </div>
        </div>
    </form>
