<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!--Nav Bar Description-->
    <!--Side navigator buttons-->
        <!--Buttons to navigate to and fro previous and next page-->
    <div class="nav">
        <p class="navTitle">
          I2CARE TOOLKIT
        </p>
    </div>
    <div class="container">
        <div class="row">
            <p class="title">
                My Projects
            </p>
        </div>
        <div class="col-md-12">

            <div class="buttonsContainer">
                <button (click)="createNewProj()" routerLink="/createProject">
                    Create Project
                </button>
                <form novalidate (ngSubmit)="onSubmit()">
                    <label for="importProj">
                        Import project
                    </label>
                    <input id="importProj" type="file" accept=".json" (change)="importProject($event)" style="display:none" />
                    <button id="submitBtn" type="submit" style="display:none">Submit</button>
                </form>
            </div>
            <div class="row">

                <div class="col-md-4" *ngFor="let names of projectName" (click)="importRecentProject(names)">
                    <div class="cards">
                        <p>
                            {{names}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
