@import url('https://fonts.googleapis.com/css?family=Raleway');
.centering {
    align-items: center;
}

html, body {
  height: 100vh;
}

.btn {
    width: 40%;
    margin-left: 30%;
    margin-right: auto;
    margin-top: 2em;
    font-size: 1em;
    align-self: center;
    background-color: #dcdcdc;
}

img {
    margin: 30px;
    width: 400px;
}

p {
    display: block;
    background-color: #7c9bc9;
    text-align: center;
    font-size: 1.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body {
    background-color: #E4E2E9;
    width: 100%;
}

/*
    For the placeholder to put ongoing and completed
*/
.placeholder {
    background-color: #f7f7f7;
    width: 100%;
    height: 40vh;
    margin-top: 1.5em;
}

/*
    placeholder to put creating new project type
*/
.placeholder2 {
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    margin-top: 1.5em;
    align-items: center;
    align-content: center;
    height: 82.5vh;
}

.buttonplaceholder {
    width: auto;
    margin-top: 29vh;
}

/*
    For button to indicate next step
*/
.button {
  display: block;
  position: static;
  background-image: linear-gradient(to right, #7c9bc9 0%, #99b8e8 51%, #b4cef7 100%);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: inherit;
  height: 81%;
  transition: all 0.5s;
  cursor: pointer;
}

label {
  border: none;
  color: black;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 0.75em;
    margin-top: 0px;
    color: black;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    background-position: right center;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
/*
    For button to go back to the previous
*/

.button-left {
    display: block;
    position: static;
    background-image: linear-gradient(to left, #7c9bc9 0%, #99b8e8 51%, #b4cef7 100%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: inherit;
    height: 81%;
    transition: all 0.5s;
    cursor: default;
}

/*
    For the title in the nav bar
*/
.navtitle p {
    display: block;
    background-color: #7c9bc9;
    text-align: center;
    font-size: 1.75em;
    width: inherit;
    height: auto;
}
/*
    Grid container to store buttons(prev and next) and the title in the nav bar
*/
.nav {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    margin-top: 0;
}

/* For the list of projects*/
.projects {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    align-items: center;
    align-content: center;
}

.projects li {
    cursor: pointer;
    background-color: #dcdcdc;
    margin: .5em;
    padding: .4em;
    height: 2.2em;
    border-radius: 4px;
}

.projects li:hover {
    color: #7c9bc9;
    background-color: #e3e3e3;
    left: .1em;
}

.projects .text {
    position: relative;
    top: -3px;
}

.btn:hover {
    color: #7c9bc9;
    background-color: #e3e3e3;
    left: .1em;
}


.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cards {
    height: 20vh;
    width: 18vw;
    display: block;
    background-color: white;
    border-radius: 1vw;
}