.centering {
    align-items: center;
}

body {
    background-color: #f9fafc;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 3vh;
    margin-left: 1.5vw;
}

.cards {
    height: 25vh;
    width: 85%;
    display: block;
    background-color: white;
    border-radius: 1vw;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5vh;
}

.cards:hover {
    background-color: #e7f2f8;
}

.cards p {
    font-family: sans-serif;
    margin-top: 1vh;
    margin-left: 1vh;
}

.buttonsContainer {
    display:flex;
    align-items: center;
}

button {
    background-color: #ffa384;
    border-radius: 4px;
    margin-left: 1vw;
    margin-right: 1vw;
    border: hidden;
    height: 4vh;
}

button:hover {
    opacity: 0.8;
}

.title {
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 2vh;
}

label {
    background-color: #ffa384;
    border-radius: 4px;
    margin-left: 1vw;
    margin-right: 1vw;
    border: hidden;
    height: 4vh;
    color: black;
}

    label:hover {
        opacity: 0.8;
    }

.btn-add {
    height: 33px;
    width: 39px;
}

.add-container {
    background-color: transparent;
    display: flex;
    padding: 10px 47.8%;
    max-height: 60px;
}
