@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Master Styles */
html, body {
    height: 100vh;
    background-color: #f9fafc;
}

.nav {
    display: block;
    background-color: #191919;
    height: 5vh;
}

.navTitle {
    font-family: sans-serif;
    font-size: 1vw;
    margin-left: 2vw;
    margin-top: 1.25vh;
    margin-bottom: 1.25vh;
    font-weight: bold;
    color: #e6e8e6;
}


.verticalCenter {
    margin-top: auto;
    margin-bottom: auto;
}

input {
    border-width: 3px;
    border-color: #f9fafc;
    border-style: solid;
    width: 80%;
}

textarea {
    display:block;
    border-width: 3px;
    border-color: #f9fafc;
    border-style: solid;
    width: 80%;
}


.navButtonFont {
    font-family: sans-serif;
    font-size: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
button {
    background-color: #ffa384;
    border: none;
}

button:hover {
    background-color: #f98761;
}