.processButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    font-size: 1.2vw;
}
.title {
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 2vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    cursor: default;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    position: relative;
    outline: 0;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input[type=number] {
    margin: auto;
    width: 100%;
    border: 1px solid #888;
    text-align: center;
}

.highlighted {
    background-color: #ffc9b7;
}

.highlightedDblClick {
    background-color: #ffdcd1;
    cursor: pointer;
}

.subtitle {
    font-family: sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
}

.processButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    font-size: 1vw;
    border: 2px solid #a7a9ab;
    border-radius: 5px;
    margin: auto 1.9vw;
}

    .processButtons:hover {
        background: #e8e9e9;
    }

.viewButton {
    border: 2px solid #ff6a38;
    background: #ffa384;
}

    .viewButton:hover {
        background: #ffc9b7;
    }
