.processButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    font-size: 1.2vw;
}
.title {
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 2vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input[type=number] {
    margin: auto;
    width: 100%;
    border: 1px solid #888;
    text-align: center;
}