:root {
    --primary-width: 70%;
    --expanded-width: 85%;
}

.main-container {
    max-width: 80%;
}

.processButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    font-size: 1.2vw;
}
.title {
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 2vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    overflow: hidden;
    cursor: default;
    border: 2px solid #666;
    table-layout: fixed;
}

#primaryTable {
    width: var(--primary-width);
}

#expandedTable {
    width: var(--expanded-width);
}

#finalTable, #finalTable2, #environmentTable {
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px 5px;
    position: relative;
    outline: 0;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.primaryProcess {
    background: #84ffa3;
}

.expandedProcess {
    background: #84e0ff;
}

.allocatedProcess {
    background: #ff84e0;
}
.lastColumn {
    background: #ffe184;
}


input[type=number] {
    margin: auto;
    width: 100%;
    border: 1px solid #888;
    text-align: center;
}

.leftBorder, .lastColumn {
    border-left: 2px solid #666;
}

tbody th, .rightBorder {
    border-right: 2px solid #666;
}

thead th {
    border-bottom: 2px solid #666;
}

.highlighted {
    background: #ffb69e;
}

.highlightedDblClick {
    background-color: #ffdcd1;
    cursor: pointer;
}

.subtitle {
    font-family: sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
}

.matrix-title {
    font-family: sans-serif;
    font-size: 1.75vw;
    font-weight: bold;
}

.chart {
    display: block;
}

.processButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    font-size: 1vw;
    border: 2px solid #a7a9ab;
    border-radius: 5px;
    margin: auto 1.9vw;
}

    .processButtons:hover {
        background: #e8e9e9;
    }

.viewButton {
    border: 2px solid #ff6a38;
    background: #ffa384;
}

    .viewButton:hover {
        background: #ffc9b7;
    }
