<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="nav">
        <button (click)="navPrev()">
            <p class="navButtonFont">
                <i class="fa fa-home"></i>
            </p>
        </button>
    </div>

    <div class="container-fluid">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <div class="projectNameContainer">
                        <p class="title">
                            Project Name
                        </p>
                        <input type="text" id="projectNameInput" class="projectName" formControlName="projectName" (change)="updateProject()" required autocomplete="off">
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <hr />
                    <p class="title">
                        Goals
                    </p>
                    <p class="subtitle">
                        Objective
                    </p>
                    <div class="textareaContainer">
                        <textarea rows="2" formControlName="objective" placeholder="Project objectives" (change)="updateProject()" required autocomplete="off"></textarea>
                    </div>
                    <p class="subtitle">
                        Target Audience
                    </p>
                    <div class="textareaContainer">
                        <textarea rows="2" formControlName="targetAudience" placeholder="Target Audience" (change)="updateProject()" required autocomplete="off"></textarea>
                    </div>
                    <hr />
                    <p class="title">
                        Scope
                    </p>
                    <p class="subtitle">
                        Product/Service Name
                    </p>
                    <div class="textareaContainer">
                        <textarea rows="2" formControlName="scopeName" placeholder="Product/Service name" (change)="updateProject()" required autocomplete="off"></textarea>
                    </div>
                    <p class="subtitle">
                        Product/Service description
                    </p>
                    <div class="textareaContainer">
                        <textarea rows="2" formControlName="scopeDescription" placeholder="Product/Service description" (change)="updateProject()" required autocomplete="off"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <app-system-boundary></app-system-boundary>
                </div>

            </div>
        </form>
        <div class="row">
            <div class="buttonsContainer">
                <button (click)="saveElsewhere()">
                    Save
                </button>
                <button *ngIf="this.currentProject.projectName != ''" (click)="navNext()"><span>Next</span></button>

                <button *ngIf="this.currentProject.projectName == ''" class="disabled-button" (click)="showEmptyNameWarning()"><span>Next</span></button>

            </div>
        </div>
    </div>

</body>
